/**********************/
/* CSS DOCUMENT RESET */
/**********************/

/*CSS Reset http://meyerweb.com/eric/tools/css/reset/ */  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS Document */
*, *::after, *::before, html {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}



/*************************/
/* COLOR PALETTE IN ROOT */
/*************************/

:root {
  --brand-color-lightblue: RGB(244, 254, 255);
  --brand-color-darkblue: RGB(26, 47, 100);
  --brand-color-teal: RGB(151, 214, 219);
  --brand-color-yellow: RGB(255, 234, 127);
  --brand-color-white: white;
  --brand-color-black: black;
  --brand-color-lightgray: rgb(182, 182, 182);
  --brand-color-overlay: rgba(0, 0, 0, 0.5);
}

/* color pallette for if user has default dark theme on browser*/
/* @media (prefers-color-scheme:dark) {
  :root {
    
  }
} */



/*************************/
/* BODY AND GENERAL TEXT */
/*************************/

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-top: 2em;
  text-align: center;

  font-size: 1.75em;
  font-weight: 700;
  color: var(--brand-color-white);
}

h2 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  color: var(--brand-color-darkblue);
  padding-bottom: .5em;
}

h3 {
  font-weight: 700;
  color: var(--brand-color-darkblue);
}

p {
  text-align: left;
  line-height: 1.5;
  padding-bottom: 1em;
}



/****************/
/* HEADER + NAV */
/****************/

header {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../images/homepage-header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 48em var(--brand-color-overlay);
}

header nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

header nav ul {
  padding: 4em 2em 2em 2em;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  list-style: none;
  background-color: var(--brand-color-white);

  line-height: 2.5;

  /* places the nav ul above all content, but below the heading*/
  z-index: 4;
  transform: translateX(100%);
  transition: 0.5s;
}


header nav ul.showMenu {
  transform: translateX(0%);
}

header nav ul li a {
  text-decoration: none;
  color: var(--brand-color-darkblue);
  font-size: 1.75em;
  font-weight: 700;
  opacity: 0.6;
}


header nav ul li a:active,
header nav ul li a:hover, 
header nav ul li a:focus {
  opacity: 1;
  text-decoration: underline;
  text-decoration-thickness: .1em;
  text-decoration-style: solid;
  text-decoration-color: var(--brand-color-yellow);

  outline: none;
}

header section:first-of-type {
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: 5; /* fixed header should always be on front of other content */

  padding: .5em 1.5em .5em 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  border-bottom: .1em solid var(--brand-color-white);
  
}

header section:first-of-type.scrollHeader {
  background-color: var(--brand-color-white);
  border-bottom: .1em solid var(--brand-color-lightgray);
}

header section:first-of-type > img { /* Dopper logo */
  height:1.5em;
  width: auto;
}

header section:first-of-type button {
  border: none;
  background-color: transparent;
}

header section:first-of-type button img {
  width: 2.5em;
  height: 2.5em;
  
  padding: .5em;

  background-color: var(--brand-color-white);

  border-radius: 2em;
}

header section:first-of-type button img.exitMenu {
  background-color: var(--brand-color-darkblue);
}


header section:first-of-type button img.scrollHeader {
  background-color: var(--brand-color-darkblue);
}

header section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 4em 2em 3em 2em;
}

header section:nth-of-type(2) a {
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--brand-color-darkblue);
  background-color: var(--brand-color-yellow);
  padding: 1em;
  margin: 1em;

  border-radius: 2em;
}

header section:nth-of-type(2) a:hover,
header section:nth-of-type(2) a:focus {
  padding: 1em 2em;

  font-weight: 600;

  background-color: var(--brand-color-white);
  transition: .5s ease-in-out;
}

header section:nth-of-type(2) a:active {
  box-shadow: .25em .25em .5em var(--brand-color-darkblue);
}

/**********/
/* FOOTER */
/**********/

footer {
  padding: 2em;
}

/* details + summary with custom styling */
footer details summary {
  cursor: pointer; /* add pointer cursor, because it's an interaction element */

  padding: .5em;
  margin: -.1em;

  list-style-type: "+ "; /* sets custom list style to '+' */
  color: var(--brand-color-lightgray);
  border-top: .1em solid var(--brand-color-lightgray);
  border-bottom: .1em solid var(--brand-color-lightgray);
}

footer details summary:hover,
footer details summary:focus {
  color: var(--brand-color-darkblue);
}

footer details[open] summary {
  list-style-type: "- "; /* changes list style, when details is open */
}

footer details[open] summary ~ * { /* select all items in summary */
  animation: openSummary .5s ease-in-out;
}

@keyframes openSummary { /* animation fades in details from the left */
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

footer details ul li a {
  color: var(--brand-color-darkblue);
  font-weight: 500;
}

footer details ul li a:hover,
footer details ul li a:focus {
  text-decoration: underline;
  text-decoration-thickness: .2em;
  text-decoration-color: var(--brand-color-yellow);
}

footer ul:first-of-type { 
  list-style: none;
  padding-left: 1em;
}

footer ul:first-of-type li {
  color: var(--brand-color-darkblue);
}

footer ul:first-of-type li a {
  text-decoration: none;
}

/* social media links */
footer section {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2em;
}

footer section ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  text-decoration: none;
  list-style: none;
}

footer section ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .25em;
  margin: .25em;
  background-color: var(--brand-color-yellow);
  border-radius: 2em;
}

footer section ul li a:hover,
footer section ul li a:focus {
  background-color: var(--brand-color-teal);
  transform: scale(1.2);
}

footer section ul li a:active {
  box-shadow: .05em .05em .1em var(--brand-color-black);
}

/* extra links (terms & conditions, privacy policy & return policy) */
footer > ul {
  margin-top: 2em;
  list-style: none;
}

footer > ul li a {
  text-decoration: none;
  line-height: 2;

  color: var(--brand-color-lightgray);
  text-transform: uppercase;
}

footer > ul li a:hover,
footer > ul li a:focus {
  color: var(--brand-color-teal);
}

/* copyright text */
footer p {
  margin-top: 2em;
  text-transform: uppercase;
}



/**********************************************************/
/*                      HOME PAGE                         */
/**********************************************************/

/************/
/* MAIN HOME*/
/************/

main a, main form button {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--brand-color-darkblue);
  background-color: var(--brand-color-yellow);
  padding: 1em;
  margin: 1em;
  border: none;

  border-radius: 2em;
}

main a:hover, 
main a:focus {
  padding: 1em 2em;

  font-weight: 600;

  background-color: var(--brand-color-white);
  transition: .5s ease-in-out;
}

main a:active {
  box-shadow: .25em .25em .5em var(--brand-color-darkblue);
}



/***************/
/* INFO DOPPER */
/***************/

/* selector for the direct ul child of the main element */
main > ul {
  list-style-type: none;
  background-color: var(--brand-color-lightblue);
  padding: 2em;
}

main > ul img {
  height: 4.5em;
  width: auto;
  margin-bottom: .5em;
}

main > ul p {
  font-weight: 500;
}

main > ul li {
  margin-bottom: 3em;
  display: flex;
  flex-wrap:wrap;
}

main > ul li h3 {
  /* word-break: break-word; */
  overflow-wrap: break-word;
  width: 8em;
}

main > ul li h3 span { /* text in span (number) is styled differently*/
  font-size: 3em;
  line-height: 1;
  padding-right: 1em;
}



/*****************/
/* MAIN SECTIONS */
/*****************/

main section { /* general padding set for all sections */
  padding: 6.25% 6.25% 6.25% 6.25%;
}

main section p:last-of-type {
  padding-bottom: 2em;
}

main section:first-of-type {
  display: flex;
  flex-direction: column;
  
  background-color: var(--brand-color-teal);
}

main section:first-of-type h2 {
  text-align: left;
}

main section:first-of-type img {
  margin-bottom: 1.5em;
  width: 80vw;
  /* puts image first in flex-order */
  order: -1;
}

main section:first-of-type a {
  width: fit-content;
  margin: 0;
}

main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  background-color: var(--brand-color-darkblue);
  color: var(--brand-color-white);
}

main section:nth-of-type(2) h2, 
main section:nth-of-type(2) h3 {
  color: var(--brand-color-white);
  text-align: left;
  padding-bottom: .5em;
}

main section:nth-of-type(2) h3 {
  order: -1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
}

main section:nth-of-type(2) img {
  margin-bottom: 1.5em;
  width: 80vw;
  /* puts image first in flex-order */
  order: -2; 
  display: flex;
  justify-content: center;
  align-items: center;

  /* crops the image asymmetrically: roundness in 4 values */
  /* border-radius: 12em 8em 10em 8em; */
  border-radius: 80% 54% 74% 54%;
}

main section:nth-of-type(2) a {
  width: fit-content;
  margin: 0;
}

main section:nth-of-type(3) {
  /* position is relative so two child sections can be placed inside it with absolute positions */
  position: relative;

}

main section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding-bottom: 1em;

  background-color: var(--brand-color-teal);
}

main section:nth-of-type(3) article:first-of-type {
  position: relative;
  right: 1.5em;
  overflow-x: hidden;
}

main section:nth-of-type(3) article:nth-of-type(2) {
  position: relative;
  top: -1em;
  left: 1.25em;
  overflow-x: hidden;
}

main section:nth-of-type(3) article img {
  width: 100%;

  order: -1;
}

main section:nth-of-type(3) article h3 {
  padding: 1em;
}

main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--brand-color-lightblue);
}

main section:nth-of-type(4) h2 {
  text-align: center;
}

main section:nth-of-type(4) h2, 
main section:nth-of-type(5) h2,
main section:nth-of-type(7) h2 {
  font-size: 2.5em;
}

main section:nth-of-type(4) p {
  text-align: center;
}

main section:nth-of-type(4) ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

main section:nth-of-type(4) ul li {
  width: 80vw;

  display: flex;
  flex-direction: column;
  margin: 1em 1em 2em 1em;
}

main section:nth-of-type(4) ul li h3 {
  font-size: 1.2em;
  font-weight: 700;
  order: 3; /*puts h3 underneath image and time*/
}

main section:nth-of-type(4) ul li img {
  width: 80vw;
  height: auto;
  padding: 0;

  order: 1; /* puts img above all*/ 
}

main section:nth-of-type(4) ul li time {
  order: 2; /*puts time underneath img and above h3*/
}

main section:nth-of-type(4) > a:hover,
main section:nth-of-type(4) > a:focus,
main section:nth-of-type(5) a:hover,
main section:nth-of-type(5) a:focus {
  padding: 1em 2em;

  font-weight: 600;

  background-color: var(--brand-color-teal);
  transition: .5s ease-in-out;
}

main section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--brand-color-lightblue);
}

main section:nth-of-type(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../images/dopper-brand-movie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400%; 
  padding: 10em 0em 10em 0em;
}

main section:nth-of-type(6) h2 {
  position: relative;
  top: 4.25em;
  right: 1.5em;
  order: 2;

  width: 60vw;

  text-align: left;
  color: var(--brand-color-white);
}

main section:nth-of-type(6) a {
  background-color: var(--brand-color-white);
  padding: 2.8em 2.8em 2.8em 3em;
  border-radius: 10em 8em 11em 8em;

  transition: .3s ease-in;
}

main section:nth-of-type(6) a:hover,
main section:nth-of-type(6) a:focus {
  background-color: var(--brand-color-teal);
  border-radius: 8em 10em 8em 11em;
  transform: scale(1.1);
}

main section:nth-of-type(6) a img {
  width: 2em;
  height: auto;
}

main section:nth-of-type(7) {
  padding-top: 2em;

  background-color: var(--brand-color-lightblue);
}

main section:nth-of-type(7) form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section:nth-of-type(7) form input[type=email] { /*the email input*/
  width: 95%;
  height: 2em;

  font-family: 'Poppins', sans-serif;
  color: var(--brand-color-darkblue); /*text that is typed in input, will be darkblue and bold*/
  font-weight: 700;

  border: none;
  border-bottom: .1em solid var(--brand-color-lightgray);
  background-color: var(--brand-color-lightblue);
}

main section:nth-of-type(7) form input[type=email]::placeholder { /*style just the placeholder*/
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--brand-color-lightgray); 
}



/**********************************************************/
/*                          SHOP PAGE                     */
/**********************************************************/

/************************/
/* HEADER CUSTOM STYLES */
/************************/
.shop header section:first-of-type {
  background-color: var(--brand-color-white);
  border-bottom: .1em solid var(--brand-color-lightgray);
}

.shop header section:first-of-type button img {
  background-color: var(--brand-color-darkblue);
}

.shop header nav ul li a {
  color: var(--brand-color-darkblue);

}
 


/************/
/* MAIN SHOP*/
/************/
.shop main {
  color: var(--brand-color-darkblue); /*text color is darkblue standard*/
}



/**********************/
/* MAIN SHOP SECTIONS */
/**********************/

.shop main section:first-of-type {
  background-color: var(--brand-color-white);
  margin: 3em 0 0 0;
  padding: 0 1em 0 1em;
}

.shop main section:first-of-type ul {
  display:flex;
  flex-direction: row;
  list-style-type: none;

  overflow-x: scroll;
}

.shop main section:first-of-type ul li {
  margin: .5em;
  white-space: nowrap;
}

.shop main section:first-of-type ul li a {
  /* width:fit-content; */
  padding: 0;
  margin: 0;

  font-weight: 600;
  text-transform: initial;

  color: var(--brand-color-lightgray);
  background-color: initial;
  border-radius: 0;
}

.shop main section:first-of-type ul li a:active,
.shop main section:first-of-type ul li a:hover,
.shop main section:first-of-type ul li a:focus {
  box-shadow: none;
  color: var(--brand-color-darkblue);
  transform: scale(1.1);
}

.shop main section:nth-of-type(2) {
  /* position is relative so two child sections can be placed inside it with absolute positions */
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  background-color: var(--brand-color-white);
}

.shop main section:nth-of-type(2) article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 75vw;

  padding-bottom: 2em;
}

.shop main section:nth-of-type(2) article img {
  width: 100%;
  order: -2; /* places image before h3 + a */
  margin-bottom: 0;

  border-radius: 0;
}

.shop main section:nth-of-type(2) article h3 {
  font-weight: 700;
  font-size: 1em;
  text-transform: initial;

  color: var(--brand-color-darkblue);
  padding: 1em;
}

.shop main section:nth-of-type(2) article a {
  margin-left: 1em;
}

.shop main section:nth-of-type(2) article:first-of-type {
  position: relative;

  background-color: var(--brand-color-yellow);
}

.shop main section:nth-of-type(2) article:first-of-type a {
  background-color: var(--brand-color-darkblue);
  color: var(--brand-color-white);
}

.shop main section:nth-of-type(2) article:nth-of-type(2) {
  position: relative;
  top: -1.2em;
  left: 1em;
  overflow-x: hidden;

  background-color: var(--brand-color-teal);
}

.shop main section:nth-of-type(2) article:nth-of-type(2) a {
  background-color: var(--brand-color-white);
  color: var(--brand-color-darkblue);
}

.shop main > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: initial;
  padding-top: 0;
}

.shop main > ul li {
  list-style-type: none;
  margin: 0;
}

.shop main > ul li a {
  padding: 0 1em 0 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--brand-color-darkblue);
  background-color: initial;
  border-radius: 0;
}

.shop main >  ul li a:active,
.shop main >  ul li a:focus { 
  box-shadow: none;

  color: var(--brand-color-teal);
  font-weight: 600;
  transform: scale(1.2);
}

.shop main >  ul li a:hover {
  color: var(--brand-color-teal);
  text-decoration: .2em underline;
  text-decoration-color: var(--brand-color-yellow);
}

.shop main > article:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2.5em;
}


.shop main > article:first-of-type ul {
  display: grid;
  grid-template-columns: repeat(2, 45vw);

  list-style-type: none;

  overflow-x: hidden;
}

.shop main > article:first-of-type ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*position relative so we can place the svg inside the li container*/
  position: relative;

  text-align: center;

  line-height: 1.8;
}

.shop main > article:first-of-type ul li h4 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
} 

.shop main > article:first-of-type ul li p {
  font-size: 1.2em;
  font-weight: 700;
}

.shop main > article:first-of-type ul li a {
  background-color: transparent;
  padding: 0;
  margin: 0;

  border: none;
  border-radius: 0;
  text-decoration: none;

  order: -2; /* position img/a above title and price of the product */
}

.shop main > article:first-of-type ul li a:active,
.shop main > article:first-of-type ul li a:focus {
  box-shadow: none;
}

.shop main > article:first-of-type ul li img {
  width: 10em;
  height: auto;
}

.shop main > article:first-of-type ul li svg {
  width: 15em;
  padding: .4em;

  z-index: -1; /* position svg behind the photo of the dopper bottle */
  position: absolute;
  bottom: 5em;

  opacity: 0;
}

/* styles for SVG's on shop page */
.shop main > article:first-of-type ul li:hover svg,
.shop main > article:first-of-type ul li a:active svg,
.shop main > article:first-of-type ul li a:focus svg{
  animation-name: blob-easeIn, blob-changingBlob;
  animation-duration: 20s, 10s;
  animation-iteration-count: 1, infinite;
}

.shop main > article:first-of-type ul li:first-of-type svg,
.shop main > article:first-of-type ul li:nth-of-type(2) svg { 
  fill: var(--brand-color-yellow); /* fill svg for dopper color lemon crush with brand yellow */
}

.shop main > article:first-of-type ul li:nth-of-type(3) svg {
  fill: var(--brand-color-lightgray); /* fill svg for dopper color pure white with brand lightgray */
}

.shop main > article:first-of-type ul li:nth-of-type(4) svg {
  fill: var(--brand-color-darkblue); /* fill svg for dopper color pacific blue with brand darkblue */
}

/************************/
/* ANIMATIONS BLOB SHOP */
/************************/

@keyframes blob-easeIn { /* animate ease-in and ease-out blob when hovering */
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blob-changingBlob { /* animate blob while its being hovered or active */
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }
  30% {
    transform: scale(0.95) translateX(2%) translateY(2%);
  }
  60% {
    transform: scale(1.02) translateX(2%) translateY(3%);
  }
  100% {
    transform: scale(1) translateX(0) translateY(0);
  }
}

/**********************************************************/
/*                    MEDIA QUERIES                       */
/**********************************************************/

/* from breakpoint: tablet format (min-width = 768px) */
@media only screen and (min-width: 768px) {

  /***********/
  /* GENERAL */
  /***********/

  h1 {
    font-size: 2.5em;
  }

  /****************/
  /* HEADER + NAV */
  /****************/

  header {
    background-size: 150%;
    box-shadow: inset 0 0 64em var(--brand-color-black);
  }

  header section:first-of-type {
    padding: 1em;
  }

  header section:first-of-type button {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;

    white-space: nowrap;

    padding: 0;

    position: fixed;
    left: calc(55% / 2);
    top: initial;
    bottom: initial;
    right: initial;
    z-index: 10;
    margin-top: 1em;

    list-style: none;
    background-color: transparent;

    line-height: 1;

    transform: translateX(0%);
  }

  header nav ul li:first-of-type { /* 'Join our wave' is placed most right */
    order: 5; 
  }

  header nav ul li a {
    font-size: .8em;
    padding: 0 .5em;
    color: var(--brand-color-white);
    opacity: 1;
  }

  header nav ul li a:active,
  header nav ul li a:hover, 
  header nav ul li a:focus {
    text-decoration-thickness: .25em;
  }

  header nav ul.blueText a {
    color: var(--brand-color-darkblue);
  }

  header section:nth-of-type(2) {
    margin: 10em 0; /* creates space so background-image can be larger in height */
  }

    

  /**********/
  /* FOOTER */
  /**********/

  /* no code (yet!) */


  /*************/
  /* MAIN HOME */
  /*************/

  /* Info dopper list */
  main > ul {
    padding: 5em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  main > ul li {
    padding: 0 3em 0 0;
    max-width: 25em;
  }

  main > ul li:last-of-type {
    padding: 0;
  }

  main section:first-of-type,
  main section:nth-of-type(2) {
    flex-direction: row;
    align-items: center;

    padding: 3em 7%;
  }

  main section:first-of-type img,
  main section:nth-of-type(2) img {
    width: 45vw;
    height: fit-content;

    float: right;
  }

  main section:first-of-type img {
    order: 1;
    padding-left: 1em;

  }

  main section:nth-of-type(2) img { 
    padding-right: 2em;
  }

  main section:nth-of-type(3) {
    padding-bottom: 0;
  }

  main section:nth-of-type(3) article {
    width: 50vw;
  }

  main section:nth-of-type(3) article:first-of-type {
    right: -1.5em;
  }

  main section:nth-of-type(3) article:first-of-type img,
  main section:nth-of-type(3) article:nth-of-type(2) img {
    width: 50vw;
    height: 10em;
    object-fit: cover;
    object-position: center top;
  }

  main section:nth-of-type(3) article:nth-of-type(2) {
    top: -5em;
    left: 18em;
    overflow-x: hidden;
  }

  main section:nth-of-type(4) ul li {
    width: 35vw;
  }

  main section:nth-of-type(4) ul li img {
    width: 35vw;
    height: 12em;
    object-fit: cover;
  }

  main section:nth-of-type(4) h2, 
  main section:nth-of-type(5) h2,
  main section:nth-of-type(7) h2 {
    font-size: 3em;
  }

  main section:nth-of-type(6) {
    background-size: 200%
  }

  main section:nth-of-type(7) form input[type=email] { /*the email input*/
    width: 30em;
  }

  /*************/
  /* MAIN SHOP */
  /*************/

  .shop main section:first-of-type ul {
    overflow-x: initial;
    padding: 1em 0;
  }

  .shop main section:nth-of-type(2) { 
    flex-direction: row;

    padding-top: 0;
  }

  .shop main section:nth-of-type(2) article:first-of-type {
    position: relative;
    right: 6em;
    top: 0;

    width: 35em;
  }

  .shop main section:nth-of-type(2) article:first-of-type img {
    width: 38em;
    height: 15em;
    object-fit: cover;
    object-position: center top;
  }

  .shop main section:nth-of-type(2) article:nth-of-type(2) {
    position: absolute;
    left: 60%;
    top: 3.5em;
    width: 20em;
  }

  .shop main section:nth-of-type(2) article:nth-of-type(2) img {
    width: 25em;
    height: 10em;
    object-fit: cover;
    object-position: center top;
  }

  .shop main > ul {
    padding-bottom: 1em;
  }

  .shop main > ul li,
  .shop main > ul li a {
    padding: 0;
    margin: .5em;
  }
  

  .shop main > article:first-of-type ul li img {
    width: 20em;
  }
  
  .shop main > article:first-of-type ul li svg {
    width: 25em;
  }
}  

/* from breakpoint: laptop format (min-width = 1024px) */
@media only screen and (min-width: 1024px) {
  /***********/
  /* GENERAL */
  /***********/
  
  h1 {
    font-size: 3em;
    margin-top: 0;
  }


  /****************/
  /* HEADER + NAV */
  /****************/
  header {
    background-size: 100%;
  }

  header section:first-of-type {
    padding: 1em 2em;
  }

  header nav ul {
    left: calc(60% / 2);

  }


  /**********/
  /* FOOTER */
  /**********/

   /* no code (yet!) */


  /*************/
  /* MAIN HOME */
  /*************/

  main > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  main section:first-of-type,
  main section:nth-of-type(2) {
    padding: 2em 7%;
  }

  main section:first-of-type img,
  main section:nth-of-type(2) img {
    width: 30vw;
  }

  main section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
  }

  main section:nth-of-type(3) article:nth-of-type(2) {
    left: 0;
    top: 2em;
  }

  main section:nth-of-type(3) article:first-of-type img,
  main section:nth-of-type(3) article:nth-of-type(2) img {
    height: 15em;
  }

  main section:nth-of-type(4) {
    padding-bottom: 0;
  }

  main section:nth-of-type(4) h2, 
  main section:nth-of-type(5) h2,
  main section:nth-of-type(7) h2 {
  font-size: 4em;
}

  main section:nth-of-type(6) {
    background-size: 100%
  }

  main section:nth-of-type(6) h2 {
    top: 3em;
  }

  /*************/
  /* MAIN SHOP */
  /*************/
  
  .shop main > article:first-of-type {
    padding: 1em 10%;
  }

  .shop main > article:first-of-type ul {
    grid-template-columns: repeat(2, 35vw);
  }

}
